{% macro render_message(message, offset=0) %}
    <div class="message" style="margin-left: {{ offset*10 }}px;">
        <div class="message-content">
            {{ message.content }}
        </div>
        <div class="message-meta">
            Posted by <span class="message-meta-author">{{ message.author_username }}</span>
            on <span class="message-meta-post-date">{{ message.post_time }}</span>
        </div>
        <div class="message-actions">
            <a href="{{ url_for("new_message", thread_id=message.thread_id, reply=message.id) }}">reply</a>
        </div>
    </div>
{% endmacro %}

{%- macro recurse_messages(message_list, depth=0) %}
    {% for message_tuple in message_list %}
        {{ render_message(message_tuple[0], depth) }}
            {% set next_depth = depth + 1 %}
        {% if message_tuple[1] | length %}
            {{recurse_messages(message_tuple[1], next_depth)}}
        {% endif %}
    {% endfor %}
{%- endmacro %}