<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">sneakynet</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        {% if current_user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Logged in as {{ current_user.username }}!</a></li>
            <li><a href="{{ url_for("logout") }}">logout</a></li>
          </ul>
        {% else %}
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for("register") }}">register</a></li>
            <li><a href="{{ url_for("login") }}">login</a></li>
          </ul>
        {% endif %}
    </div>
  </div>
</nav>
