<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% include '_header.html' %}
</head>

<body>

    {% include '_nav.html' %}

    <div class="container">

      {% with messages = get_flashed_messages() %}
          {% if messages %}
              <div id="messages">
              {% for message in messages %}
                {{ message }}<br>
              {% endfor %}
              </div>
          {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
    </div>
</body>
</html>
