{% extends "base.html" %}
{% block title %}
    Localnet:Board
{% endblock %}
{% block content %}
    <h1>[BOARD]</h1>
    <hr>
    <a href="{{ url_for("new_thread") }}" class="btn btn-primary">Create new thread</a>
    <hr>

    {% if threads | length %}
        <ul>
        {% for thread in threads %}
            <li><a href="{{ url_for("display_thread", thread_id=thread.id) }}">{{ thread.title }}</a> ({{ threads[thread] }} message{% if threads[thread] > 1 %}s{% endif %})</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
