{% extends "base.html" %}
{% block title %}
    Localnet:Board:New Thread
{% endblock %}
{% block content %}
    <div class="panel panel-primary">
      <div class="panel-heading">
          <h2 class="panel-title">Create new thread</h2>
      </div>
      <div class="panel-body">
        <form method="post" class="form">
            <div class="form-group">
              <input type="text" name="title" placeholder="thread title" class="form-control">
              {% for err in errors["title"] %}
                  <div style="color: red">{{ err }}</div>
              {% endfor %}
            </div>
            <div class="form-group text-right">
              <input type="submit" class="btn btn-primary">
            </div>
        </form>
      </div>
    </div>
{% endblock %}
