{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block title %}
    Localnet:Board:Thread:New Message
{% endblock %}
{% block content %}
  <div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Compose new message</h2>
    </div>
    <div class="panel-body">

    <form method="post" class="form">
        <div class="form-group">
          <label for="content" class="control-label">Message</label>
          <textarea name="content" class="form-control"></textarea><br>
          {% for err in errors["content"] %}
              <div style="color: red">{{ err }}</div>
          {% endfor %}
        </div>

        <div class="form-group text-right">
            <input type="submit" class="btn btn-primary">
        </div>

        <h3>context</h3>
        <div>
            You're replying to the following
            {% if reply_to %}
                message in the thread "{{ thread.title }}"
            {% else %}
                thread
            {% endif %} :
        </div>

        <div>"{% if reply_to %}{{ reply_to.content }}" - {{ reply_to.author.username }}{% else %}{{ thread.title }}{% endif %}"</div>

        <hr>

        {% if peers | length %}
            <h3>other replies</h3>
            {% for peer in peers %}
                <div>
                    {{ macros.render_message(peer) }}
                </div>
            {% endfor %}
        {% endif %}

    </form>
    </div>
  </div>

{% endblock %}
