{% extends "base.html" %}
{% block title %}Localnet:Sync:Home{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Login</h2>
                </div>
                <div class="panel-body">
                    <form method="post" class="form-vertical">
                        <div class="form-group">
                            <input type="text" name="basedir" placeholder="synchronization base directory" class="form-control">
                            {% if error %}
                                <div style="color: red" class="help-block">{{ error }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <div>
                                <label>
                                    <input type="radio" name="syncdir" value="in" checked="">
                                    in
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input type="radio" name="syncdir" value="out">
                                    out
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg">start</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
