{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block title %}
    Localnet:Board:Thread:{{ thread.title }}
{% endblock %}
{% block content %}
    <div class="thread-header">
        <h2>{{ thread.title }}</h2>
        <div class="thread-header-author">{{ thread.author_username }}</div>
        <a href={{ url_for("new_message", thread_id = thread.id)}}>New message</a>
    </div>
    <hr>
    {% for toplevel_message in messages %}
        {{ macros.recurse_messages(toplevel_message) }}
    {% endfor %}
    <pre>{{ messages }}</pre>
{% endblock %}
