<html>
<!--
    <?xml version=”1.0” encoding=”UTF-8”?>
    <WISPAccessGatewayParam xmlns:xsi=”http://www.w3.org/2001/XMLSchema-instance”
      xsi:noNamespaceSchemaLocation=”http://www.acmewisp.com/WISPAccessGatewayParam.xsd”>
      <Redirect>
        <MessageType>120</MessageType>
        <ResponseCode>50</ResponseCode>
        <ReplyMessage>Authentication Success</ReplyMessage>
        <LoginResultsURL>http://portal.lan/main.html</LoginResultsURL>
      </Redirect>
    </WISPAccessGatewayParam>
-->
<head>
  <meta http-equiv="refresh" content="0;URL='http://portal.lan/main.html'" />
</head>
<body>
<h1>Welcome!</h1>
</body>
</html>